<!-- commented out everything so that we can try routing. To get all of this to appear on `localhost:4200`, simply uncomment-->

<!--to add our new component, simply add this tag-->
<!--<app-event-handling></app-event-handling>-->
<!--&lt;!&ndash;  these listeners triggered by the `app-multiple-choice`, but defined in `app.component.ts`&ndash;&gt;-->
<!--<app-multiple-choice-->
<!--  (a)="doSomething()"-->
<!--  (b)="doSomethingElse()"-->
<!--  (c)="doSomething()"-->
<!--  (d)="doAnotherThing()"-->
<!--&gt;</app-multiple-choice>-->
<!--&lt;!&ndash;old single-component state approach&ndash;&gt;-->
<!--<app-single-component-stateful-button></app-single-component-stateful-button>-->
<!--&lt;!&ndash;multiple buttons, each keeps track of it's own count - because instance variable&ndash;&gt;-->
<!--<app-single-component-stateful-button></app-single-component-stateful-button>-->
<!--&lt;!&ndash;now that we've shared state into parent component (this one), it can be used by the conditional statemnt here.-->
<!--we _could_ pass the count &/or 'appear threshold' into this component, and have the `app-congrats-message-component`-->
<!-- decide when it appears or not, rather than define it in here.....&ndash;&gt;-->
<!--<app-congrats-message-component *ngIf="buttonCount >= 5"></app-congrats-message-component>-->
<!--&lt;!&ndash;note '[]', and `()` buttonClicked&ndash;&gt;-->
<!--<app-stateful-button *ngIf="showCounterButton" [buttonCount]="buttonCount" (buttonClicked)="incrementCount()"></app-stateful-button>-->
<!--<button (click)="toggleCounterButton()">Toggle the stateful button</button>-->
<!--<app-example name="phillipo" age="22" hairColour="bald"></app-example>-->
<!--<app-example name="old guy" age="old" hairColour="reddish brown"></app-example>-->
<!--<app-example hairColour="pink"></app-example>-->

<!--<app-people-list></app-people-list>-->

<!--removed all from bootstrap except this tag-->

<h1>Some nice links</h1>
<ul><a routerLink="/example">Look at a nice example (uses 'routerLink')</a></ul>
<ul><a href="/single-comp-stateful-button">Look at a single component stateful button (uses 'href')</a></ul>
<ul><a routerLink="/stateful-button">Look at a parent-controlled stateful button</a></ul>
<ul><a routerLink="/people-list">Look at a list of people</a></ul>
<ul><a routerLink="/event-handling">Look at a some event handling</a></ul>
<ul><a routerLink="/multiple-choice">Look at a multiple choice option</a></ul>
<ul><a routerLink="/params-example/:aUrlParam/:anotherUrlParam">Look at query param handling</a></ul>
<ul><a routerLink="/navigate-county-button">Look at a county button that navigates</a></ul>
<ul><a routerLink="/app-user-info-display">Loads user info from 'a server'</a></ul>
<router-outlet></router-outlet>
